﻿@model IEnumerable<MvcMusicStore.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Generos</h2>
<p>Selecione um dos nossos @Model.Count() generos</p>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(@item.Name, "Browse", new { genre = item.Name})</li>
    }
</ul>

